# Server
NODE_ENV=development
PORT=5001

#MongoDB
MONGO_URI= "mongo_connection_uri"
# JWT
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d



# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000

# Grok
GROQ_API_KEY="groq_api_key"
HELPBOT_SECRET=CTF{v3rb0se_error_3nv_leak}
