@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

.primary-gradient {
  background: linear-gradient(135deg, #994127 0%, #b8583d 100%);
}

.shadow-ambient {
  box-shadow: 0 20px 40px rgba(86, 66, 61, 0.06);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

